
/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
    background: #fff;
   
    
}

.landing-page {
    text-align: center;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between text and image */
    padding: 2rem; /* Add padding for better spacing */
    
}


/* Hero Section */
/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
 
    background-size: 100% 100%;
    box-shadow: 0 0 10px rgba(71, 217, 243, 0.94); /* Shadow for extra depth */
    position: relative; /* To position the overlay */
    overflow: hidden;
}

.your-class{
    width: 100%;
}


.hero-video {
    width: 30%; /* Adjust based on your layout */
    border-radius: 10px; /* Rounded corners for a polished look */
   
    position: relative;
    z-index: 1; /* Ensure GIF is above the overlay */
}


.hero-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* Hero Text */
.hero-text h2 {
    font-size: 2.5rem;
    color: rgb(252, 254, 252);
    
}

.hero-text p {
    font-size: 1.2rem;
    color: #fadc47; /* Darker color for text contrast */
}

.cta-button {
    background-color: #2eb202;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #e67600;
}

/* Services Section */
.services-section {
    padding: 3rem 1.5rem;
    background-color: #fff;
}

.services-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.services {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 2rem;
}

.service {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    width: 25%;
    box-shadow: 5px 8px 8px rgba(201, 13, 253, 0.748);
    transition: all 0.3s ease;
}

.service:hover{
    box-shadow: 0px 10px 7px rgba(201, 13, 253, 0.826);
}

.seo{
    border-radius: 15px;
    box-shadow: 5px 8px 25px rgba(201, 13, 253, 0.748);
}

.service img {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.service p {
    font-size: 1.1rem;
    color: #0c0c0c;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.services:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

.trust{
    margin: 0;
    padding: 0;
}

.trust-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1; /* Allows the content to take the available space */
    padding-right: 1rem; /* Space between text and image */
}

.trust-heading {
    font-size: 2rem; /* Font size for heading */
    font-weight: bold; /* Bold heading */
    margin-bottom: 0.5rem; /* Space below heading */
    color: #000; /* Dark text color for contrast */
}

.trust-subtitle {
    font-size: 1.2rem; /* Font size for subtitle */
    color: #f95204; /* Blue color for subtitle */
    margin-bottom: 1rem; /* Space below subtitle */
    opacity: 0; /* Start invisible for animation */
    animation: fadeIn 1s forwards; /* Animation for subtitle */
    animation-delay: 0.5s; /* Delay for subtitle appearance */
}

.trust-description {
    font-size: 1rem; /* Font size for description */
    color: #000; /* Grey text color */
    width: 70%;
    line-height: 1.8; /* Line height for readability */
}

.trust-img {
    flex: 1; /* Allows the image to take the available space */
    display: flex;
    justify-content: center; /* Center the image horizontally */

    margin-top: -4%;
}

.hero-image {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners for the image */
}

/* Animation for subtitle */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); /* Start from above */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at normal position */
    }
}
.social h3{
    color: #fb5f05;
}

.seo h3{
    color: #010965;
}

.email h3{
    color: #edc202;
}

.course-section{
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.static-positive-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    background-image: linear-gradient(63deg, rgb(63, 94, 244)16.4%, rgb(70, 1, 62)64.5%);
    color: #ffffff;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}
.image-container{
    flex: 1;
}
.panel-image{
    width: 55%;
}

.content-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.content-container p{
    color: #c0e604;
}

.patner-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-section-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.6rem 2rem;
}

.text-section-container h3{
    color: #f96d10;
    font-size: 2rem;
}

.text-section-container p{
    width: 80%;
    color: #000;
    font-size: 1.1rem;
}

.animated-check-button{
    position: relative;
   
    display: inline-block;
    padding: 10px 20px;
    color: #fa2718;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(11, 11, 11, 0.748);
}

.animated-check-button:hover{
    background: linear-gradient(63deg, rgb(15, 1, 105), rgb(82, 1, 73));
    color: #fff;
    border-radius: 5px;
    
}

.animated-check-button span{
    position: absolute;
    display: block;
}

.animated-check-button span:nth-child(1)
{
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #034ff4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1
{
    0%{left: -100%;}
    50%,100%{left:100%}
}

.animated-check-button a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #034ff4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;

}
@keyframes btn-anim2
{
     0% {top: -100% }
    50%,100%{top: 100% }
}
.animated-check-button span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#034ff4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3
{
    0% {right: -100%;}
    50%,100%{right: 100%;}
}
.animated-check-button span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #034ff4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4 {
    0% {bottom: -100%;}
    50%, 100%
    {
        bottom: 100%;
    }
    
}

.image-patner-div{
   width: 70%;
   height: 50%;
   
}

.image-patner-div img{
    width: 90%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

/* Testimonials Section */
.testimonials-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
   
}

.testimonials-section div{
    z-index: 1;
}




.price-tag-service{
    background:#fff;
}

/* Footer */