/* Service Section Styles */
.service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
   
}

/* Section Heading */
.section-heading {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background: -webkit-linear-gradient(#080200, #1f002d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Plan List */
.plan-list {
    display: flex;
    gap: 2rem;
}

/* Service Card */
.service-card {
    background-image: linear-gradient(63deg, rgb(20, 2, 133)16.4%, rgb(74, 1, 66)64.5%);
    border-radius: 12px;
    padding: 1.5rem;
    text-align: center;
    color: #fff;
    box-shadow: 0 6px 15px rgba(245, 99, 1, 0.936);
    border: 3px solid rgba(245, 243, 243, 0.993);
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s;
    
}

/* Highlight Effect on Hover */
.service-card:hover,
.service-card:nth-child(3) { /* Middle card */
   
    box-shadow: 0 8px 20px rgba(251, 114, 69, 0.8);
    cursor: pointer;
    background-image: linear-gradient(63deg, rgb(204, 187, 3)20.4%, rgb(66, 1, 58)60.5%);
   
}

.service-icon {
    
    margin-bottom: 1rem;
}

.service-card h3 {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: #fdfdfd;
}

.service-card p {
    font-size: 0.9rem;
    opacity: 0.85;
    font-weight: 500;
}
